@mixin highLight {
  color: #ffffff;
  border-color: #ffffff;
}

.btn {
  margin: 2vh auto;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.25rem;
  color: #6d6d6d;
  cursor: pointer;

  &:hover {
    @include highLight();
  }
}

.contact {
  border: solid 2px #6d6d6d;
}

.highLighted {
  @include highLight();
}
