.footerContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #232323;
  height: 2.5rem;
}
.socialWrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

@media all and (max-width: 750px) {
  .socialWrapper {
    width: 67vw;
  }
}
