.container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 100%;
  padding-right: 30%;
  padding-left: 30%;
  background-color: #232323;
}

@media all and (max-width: 750px) {
  .container {
    padding-right: 10%;
    padding-left: 10%;
  }
}
